/* Estilos gerais/globais */
body {
  background-color: var(--cor-fundo);
  background-image: url(../img/background-withe.png);
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  color: #fff;
  font-weight: bold;
  font-size: 19px;
}

/* main */
.container {
  display: flex;
  width: 100%;
  height: 100dvh;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#navbar {
  background-color: #ae1616;
  width: 95%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 20px;
  box-shadow: 5px 5px 10px 0px #0000004d;
  border-radius: 80px;
}

#navbar img {
  height: 90px;
}

#main {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 550px;
}

#main h1 {
  font-size: 3rem;
  gap: 10px;
}

#main h2 {
  font-size: 3rem;
  gap: 10px;
}

#main span {
  color: #ff0000;
}

#btn-container {
  margin-top: 40px;
}

#btn-container button {
  background-color: #ff0000;
  width: 150px;
  height: 45px;
  border-radius: 200px;
  border: none;
  box-shadow: 0px 6px 6px 0px #00000063;
}
