/* estilo geral */
* {
  margin: 0;
  padding: 0;
}
/* main */
.container {
  display: flex;
  text-align: center;
  justify-content: center;
  text-align: center;
  height: 100dvh;
}

#title-container {
  height: 100%;
  width: 50%;
  font-size: 1.5rem;
  gap: 10px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

#title-container span {
  color: #ff0000;
}

#form-container {
  height: 100%;
  width: 50%;
  background-color: #ae1616;
  box-shadow: 5px 5px 10px 0px #0000004d;
}
